.list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.item {
    margin-right: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.item:hover {
    color: rgb(151, 14, 14);
}

